<div class="nav">
  <div class="sign-in">
    <form class="form-inline pull-right" role="form" action="/session" method='POST'>
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">email</label>
        <input type="email" class="form-control" name="user[email]" id="exampleInputEmail2" placeholder="email">
      </div>
      <button type="submit" class="btn btn-default">Sign in</button>
    </form>
  </div>
  <div class="logo"></div>
</div>
<div class="house-background">
  <div class="col-md-6">
    <div class="primary-cta">
      <div class="header">
        From Inventory To Guaranteed Quote Within 24hrs
      </div>
      <div class="subheader">
        Mule Makes Moving House Simple
      </div>
      <div class="bullets">
        <ul>
          <li>Take your inventory</li>
          <li>Get quotes from trusted moving companies</li>
          <li>Move happy</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="device">
      <div class="screenshot"></div>
      <div class="cta">
        <div class="header">START</div>
        <div class="subheader">
          <p>Click START to begin!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="testimonials">
    <div class="row">
      <div class="process-header">
        Recent Boulder Moves With Mule Movers
      </div>
      <div class="col-md-4">
        <div class="bounding-box">
          <div class="border-box">
            <div class="row travel">
              <div class="col-md-4">
                <div class="pickup">
                  <div class="city">Boulder</div>
                  <div class="state">CO</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="distance"></div>
                <div class="mileage">45 miles</div>
              </div>
              <div class="col-md-4">
                <div class="dropoff">
                  <div class="city">Denver</div>
                  <div class="state">CO</div>
                </div>
              </div>
            </div>
            <div class="row time">
              <div class="col-md-4">
                <div class="dates">
                  March
                </div>
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <div class="cost">
                  $1300
                </div>
              </div>
            </div>
            <div class="row summary">
              <div class="col-md-6">
                <div class="house">
                </div>
              </div>
              <div class="col-md-6">
                <div class="rooms">
                  8 Rooms
                </div>
                <div class="trucks">
                  1 40ft Truck
                </div>
                <div class="movers">
                  3 Movers
                </div>
              </div>
            </div>
            <div class="row services">
              <div class="col-md-12">
                <div class="header">SERVICES</div>
                <ul>
                  <li>Professional Packaging</li>
                  <li>Full Replacement Value Insurance</li>
                  <li>Furniture Disassembly</li>
                </ul>
              </div>
            </div>
            <div class="row testimonial">
              <div class="col-md-2">
                <div class="profile"></div>
              </div>
              <div class="col-md-10">
                <div class="quote">
                  Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bounding-box">
          <div class="border-box">
            <div class="row travel">
              <div class="col-md-4">
                <div class="pickup">
                  <div class="city">Boulder</div>
                  <div class="state">CO</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="distance"></div>
                <div class="mileage">109 miles</div>
              </div>
              <div class="col-md-4">
                <div class="dropoff">
                  <div class="city">Vail</div>
                  <div class="state">CO</div>
                </div>
              </div>
            </div>
            <div class="row time">
              <div class="col-md-4">
                <div class="dates">
                  April
                </div>
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <div class="cost">
                  $1600
                </div>
              </div>
            </div>
            <div class="row summary">
              <div class="col-md-6">
                <div class="house">
                </div>
              </div>
              <div class="col-md-6">
                <div class="rooms">
                  6 Rooms
                </div>
                <div class="trucks">
                  1 40ft Truck
                </div>
                <div class="movers">
                  2 Movers
                </div>
              </div>
            </div>
            <div class="row services">
              <div class="col-md-12">
                <div class="header">SERVICES</div>
                <ul>
                  <li>Piano Move</li>
                  <li>Bulky Item Crating</li>
                </ul>
              </div>
            </div>
            <div class="row testimonial">
              <div class="col-md-2">
                <div class="profile"></div>
              </div>
              <div class="col-md-10">
                <div class="quote">
                  Vestibulum id ligula porta felis euismod semper.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bounding-box">
          <div class="border-box">
            <div class="row travel">
              <div class="col-md-4">
                <div class="pickup">
                  <div class="city">Boulder</div>
                  <div class="state">CO</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="distance"></div>
                <div class="mileage">103 miles</div>
              </div>
              <div class="col-md-4">
                <div class="dropoff">
                  <div class="city">Colorado Springs</div>
                  <div class="state">CO</div>
                </div>
              </div>
            </div>
            <div class="row time">
              <div class="col-md-4">
                <div class="dates">
                  May
                </div>
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <div class="cost">
                  $2400
                </div>
              </div>
            </div>
            <div class="row summary">
              <div class="col-md-6">
                <div class="house">
                </div>
              </div>
              <div class="col-md-6">
                <div class="rooms">
                  10 Rooms
                </div>
                <div class="trucks">
                  1 40ft Truck
                </div>
                <div class="movers">
                  4 Movers
                </div>
              </div>
            </div>
            <div class="row services">
              <div class="col-md-12">
                <div class="header">SERVICES</div>
                <ul>
                  <li>Professional Packaging</li>
                  <li>Temporary Storage</li>
                  <li>Extra Pick-Up Locations</li>
                </ul>
              </div>
            </div>
            <div class="row testimonial">
              <div class="col-md-2">
                <div class="profile"></div>
              </div>
              <div class="col-md-10">
                <div class="quote">
                  Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cta">
    <div class="row">
      <div class="col-md-4">
        <div class="blurb">
          One quick walk around your house and you're done!
        </div>
      </div>
      <div class="col-md-4">
        <div class="action-block" data-toggle="modal" data-target="#myModal">
          <div class="device-availability">
            <div class="screenshot"></div>
            <div class="device-cta">
              <p>Our inventory app looks great on Android and iPhone browsers, click <b class="device-start">start</b> to begin!</p>
            </div>
            <div class="title">START</div>
            <div class="platforms">
              <ul>
                <li><i class="fa fa-android"></i></li>
                <li><i class="fa fa-apple"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blurb">
           We take care of the rest, finding you a company fast which suits your move.
        </div>
      </div>
    </div>
  </div>
  <div class="message-reinforce">
    <div class="row">
      <div class="col-md-4">
        <div class="bounding-box">
          <div class="title">Trust</div>
          <div class="blurb">We select only the most reputable service providers for the Mule marketplace to ensure the integrity of your move. Our movers are all AMA and BBB accredited businesses with hundreds of years experience between them to give you peace of mind.</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bounding-box">
          <div class="title">Transparency</div>
          <div class="blurb">Through Mule, our movers provide you with all the information you need to make an informed decision. Our policy of full transparency means you always know the fixed costs involved, where you stand and that your move is protected.</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bounding-box">
          <div class="title">Control</div>
          <div class="blurb">Mule guides you through the moving process, breaking it down into small manageable steps with plenty of advice along the way. Your Mule profile will contain all the information you need to stay in total control, from inventory lists to pre move damage reports, and liability protection. With Mule, you are in safe hands.</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="footer-logo"></div>
        <div class="blurb">
          <p>Empowering People Through The Big Moves In Life</p>
          </div>
        <div class="sub-blurb" data-toggle="modal" data-target="#myModal">
          <p>Click here to get started for free!</p>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="row">
      <div class="col-md-12">
        <div class="social-row">
          <div class="business-info">
          </div>
          <div class="icons">
            <ul>
              <li><i class="fa fa-facebook"></i></li>
              <li><i class="fa fa-twitter"></i></li>
              <li><i class="fa fa-pinterest"></i></li>
              <li><i class="fa fa-youtube"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
