<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">
            Mule
          </h3>
          <ul class="nav masthead-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Mule</h1>
        <%= form_tag do %>
          <p class="lead">
            <%= email_field_tag :email %>
          </p>
          <p class="lead">
          <%= button_tag "Get Started", class: "btn btn-lg btn-block btn-default" %>
          </p>
        <% end %>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Mule Moving</p>
        </div>
      </div>
    </div>
  </div>
</div>
