<div class="nav">
  <div class="sign-in">
    <form class="form-inline pull-right" role="form" action="/session" method='POST'>
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">email</label>
        <input type="email" class="form-control" name="user[email]" id="exampleInputEmail2" placeholder="email">
      </div>
      <button type="submit" class="btn btn-default">Sign in</button>
    </form>
  </div>
  <div class="logo"></div>
</div>
<div class="house-background">
  <div class="desktop">
    <div class="col-md-6">
      <div class="primary-cta">
        <div class="header">
          From Inventory To Guaranteed Quote Within 24hrs
        </div>
        <div class="subheader">
          Mule Makes Moving House Simple
        </div>
        <div class="bullets">
          <ul>
            <li>Take your inventory</li>
            <li>Get quotes from trusted moving companies</li>
            <li>Move happy</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="device">
        <div class="screenshot"></div>
        <div class="start-inventory">
        </div>
      </div>
    </div>
  </div>
  <div class="mobile">
    <div class="col-md-12">
      <div class="primary-cta">
        <div class="header">
          From Inventory To Guaranteed Quote Within 24hrs
        </div>
        <div class="device">
          <div class="screenshot"></div>
          <div class="subheader">
            Mule Makes Moving House Simple
          </div>
          <div class="start-inventory">
          </div>
        </div>
        <div class="header">The Mule Process</div>
        <div class="bullets">
          <ul>
            <li>Take your inventory</li>
            <li>Get quotes from trusted moving companies</li>
            <li>Move happy</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="testimonials">
    <div class="row">
      <div class="process-header">
        Recent Boulder Moves With Mule Movers
      </div>
      <div class="col-md-4">
        <div class="bounding-box">
          <div class="border-box">
            <div class="row travel">
              <div class="col-md-4">
                <div class="pickup">
                  <div class="city">Boulder</div>
                  <div class="state">CO</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="distance"></div>
                <div class="mileage">45 miles</div>
              </div>
              <div class="col-md-4">
                <div class="dropoff">
                  <div class="city">Denver</div>
                  <div class="state">CO</div>
                </div>
              </div>
            </div>
            <div class="row time">
              <div class="col-md-4">
                <div class="dates">
                  March
                </div>
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <div class="cost">
                  $1300
                </div>
              </div>
            </div>
            <div class="row summary">
              <div class="col-md-6">
                <div class="house">
                </div>
              </div>
              <div class="col-md-6">
                <div class="rooms">
                  8 Rooms
                </div>
                <div class="trucks">
                  1 40ft Truck
                </div>
                <div class="movers">
                  3 Movers
                </div>
              </div>
            </div>
            <div class="row services">
              <div class="col-md-12">
                <div class="header">SERVICES</div>
                <ul>
                  <li>Professional Packaging</li>
                  <li>Full Replacement Value Insurance</li>
                  <li>Furniture Disassembly</li>
                </ul>
              </div>
            </div>
            <div class="row testimonial">
              <div class="col-md-2">
                <div class="profile"></div>
              </div>
              <div class="col-md-10">
                <div class="quote">
                  Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bounding-box">
          <div class="border-box">
            <div class="row travel">
              <div class="col-md-4">
                <div class="pickup">
                  <div class="city">Boulder</div>
                  <div class="state">CO</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="distance"></div>
                <div class="mileage">109 miles</div>
              </div>
              <div class="col-md-4">
                <div class="dropoff">
                  <div class="city">Vail</div>
                  <div class="state">CO</div>
                </div>
              </div>
            </div>
            <div class="row time">
              <div class="col-md-4">
                <div class="dates">
                  April
                </div>
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <div class="cost">
                  $1600
                </div>
              </div>
            </div>
            <div class="row summary">
              <div class="col-md-6">
                <div class="house">
                </div>
              </div>
              <div class="col-md-6">
                <div class="rooms">
                  6 Rooms
                </div>
                <div class="trucks">
                  1 40ft Truck
                </div>
                <div class="movers">
                  2 Movers
                </div>
              </div>
            </div>
            <div class="row services">
              <div class="col-md-12">
                <div class="header">SERVICES</div>
                <ul>
                  <li>Piano Move</li>
                  <li>Bulky Item Crating</li>
                </ul>
              </div>
            </div>
            <div class="row testimonial">
              <div class="col-md-2">
                <div class="profile"></div>
              </div>
              <div class="col-md-10">
                <div class="quote">
                  Vestibulum id ligula porta felis euismod semper.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bounding-box">
          <div class="border-box">
            <div class="row travel">
              <div class="col-md-4">
                <div class="pickup">
                  <div class="city">Boulder</div>
                  <div class="state">CO</div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="distance"></div>
                <div class="mileage">103 miles</div>
              </div>
              <div class="col-md-4">
                <div class="dropoff">
                  <div class="city">Fort Collins</div>
                  <div class="state">CO</div>
                </div>
              </div>
            </div>
            <div class="row time">
              <div class="col-md-4">
                <div class="dates">
                  May
                </div>
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <div class="cost">
                  $2400
                </div>
              </div>
            </div>
            <div class="row summary">
              <div class="col-md-6">
                <div class="house">
                </div>
              </div>
              <div class="col-md-6">
                <div class="rooms">
                  10 Rooms
                </div>
                <div class="trucks">
                  1 40ft Truck
                </div>
                <div class="movers">
                  4 Movers
                </div>
              </div>
            </div>
            <div class="row services">
              <div class="col-md-12">
                <div class="header">SERVICES</div>
                <ul>
                  <li>Professional Packaging</li>
                  <li>Temporary Storage</li>
                  <li>Extra Pick-Up Locations</li>
                </ul>
              </div>
            </div>
            <div class="row testimonial">
              <div class="col-md-2">
                <div class="profile"></div>
              </div>
              <div class="col-md-10">
                <div class="quote">
                  Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="value-propositions">
    <div class="row container">
      <div class="header">
        There are many ways to move from A to B
      </div>
      <div class="a-to-b"></div>
      <div class="subheader">
        We let you choose the best option for you
      </div>
      <div class="propositions">
        <div class="row insurance">
          <div class="col-md-2">
            <div class="icon"></div>
          </div>
          <div class="col-md-10">
            <div class="header">Replacement Insurance</div>
            <div class="blurb">If your goods are damaged in transit will they be replaced at their full value or only at 60c per pound? Mule makes sure you know in advance.</div>
          </div>
        </div>
        <div class="row price-transparency">
          <div class="col-md-10">
            <div class="header">Price Transparency</div>
            <div class="blurb">We hate hidden costs and make sure that you dont suffer any. All our prices based on your inventory are fixed so you know exactly how much you will be paying.</div>
          </div>
          <div class="col-md-2">
            <div class="icon"></div>
          </div>
        </div>
        <div class="row reputation">
          <div class="col-md-2">
            <div class="icon"></div>
          </div>
          <div class="col-md-10">
            <div class="header">Reputable Moving Companies</div>
            <div class="blurb">Mule moving companies are screened to ensure their quality. We let you know exactly what kind of company wants to win your business so you can make your most informed decision.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="message-reinforce">
    <div class="row">
      <div class="col-md-4">
        <div class="bounding-box">
          <div class="title">Trust</div>
          <div class="blurb">
            You need to know that the people helping you move home are trustworthy. We make sure that you know about the people and employees behind the moving companies.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bounding-box">
          <div class="title">Transparency</div>
          <div class="blurb">
            Not only do we ensure that you know how much your move is going to cost, we educate you about all the other steps involved along the way.
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bounding-box">
          <div class="title">Control</div>
          <div class="blurb">
            Mule empowers its user to make the best choice for them. You get to choose the services you want, which levels of insurance coverage you are most comfortable with and whom you want handling your posessions.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cta">
    <div class="row">
      <div class="col-md-4">
        <div class="blurb">
          One quick walk around your house and you're done!
        </div>
      </div>
      <div class="col-md-4">
        <div class="action-block" data-toggle="modal" data-target="#myModal">
          <div class="device-availability">
            <div class="screenshot"></div>
            <div class="device-cta">
              <p>Our inventory app looks great on Android and iPhone browsers</p>
            </div>
            <div class="platforms">
              <ul>
                <li><i class="fa fa-android"></i></li>
                <li><i class="fa fa-apple"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blurb">
           We take care of the rest, finding you a company fast which suits your move.
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="row">
      <div class="col-md-12">
        <div class="social-row">
          <div class="business-info">
          </div>
          <div class="blurb">
            <p>Empowering People Through The Big Moves In Life</p>
          </div>
          <div class="icons">
            <ul>
              <li><i class="fa fa-facebook"></i></li>
              <li><i class="fa fa-twitter"></i></li>
              <li><i class="fa fa-pinterest"></i></li>
              <li><i class="fa fa-youtube"></i></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>