<div class="site-wrapper not-landing">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">
            Mule
          </h3>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="row footer" style="margin: 30px 0">
    <h1 class="footer">What is your current residence type?</h1>
</div>

<div class="row highlights residence-type">
  <div class="col-md-4 col-md-offset-2">
    <a href="/move-service-type" class="hoverable">
        <%= image_tag "apartment_icon_aqua_240.png", class: "img-responsive" %>
        <h1>Apartment</h1>
    </a>
  </div>
  <div class="col-md-4">
     <a href="/move-service-type" class="hoverable">
       <%= image_tag "house_icon_aqua_240.png", class: "img-responsive" %>
       <h1>House</h1>
    </a>
  </div>
</div>
<div class="foot-space" style="padding: 20px; height: 70px">
    <a href="https://mixpanel.com/f/partner" class="pull-right">
        <img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" />
    </a>
</div>

<script>
    mixpanel.track('Landing pageview', {
        'page name' : document.title,
        'url' : window.location.pathname
    });

    mixpanel.track_links("#get_started", "Get Started click", {
        "referrer": document.referrer
    });
</script>
