$mule-aqua: #43C1C7;
$mule-grey: #6f6f6f;
$bebas_neue_font: BebasNeueFont;
$melbourne_light_font: MelbourneLightFont;
$screen-sm-min: 640px;

.inventory-wrapper {
  background-color: white;
  min-height: 910px;
  height: 100%;
  width: 90%;
  left: 50%;
  margin: 0 auto;

  .summary-header {
    color: $mule-aqua;
    font-size: 65px;
    font-family: $melbourne_light_font;
    letter-spacing:5px;
  }

  .personalization {
    font-size: 30px;
    font-family: $melbourne_light_font;
  }

  .summary {
    width: 80%;
    margin: 0 auto;

    .process {
      .header {
        width: 80%;
        height: 100%;
        left: 50%;
        margin: 0 auto;

        .description {
          height: 100%;
          width: 100%;
          font-family: $melbourne_light_font;
          font-size: 20px;
          ul {
            list-style-type: none;
          }
          li {
            display: inline;
            margin-left: 5px;
          }
        }
        .copy {
          color: black;
          height: 100%;
          width: 100%;
          font-family: $melbourne_light_font;
          font-size: 18px;
        }
      }
      .steps {
        height: 100%;
        width: 90%;
        left: 50%;
        margin: 20px auto;
        display: inline-block;

        .step {
          width: 100%;
          height: 100%;
          margin: 5px;
          background-color: white;

          .number {
            color: white;
            height: 50px;
            width: 50px;
            border-radius: 25px;
            background: #43c1c7;
            font-size: 38px;
            font-family: BebasNeueFont;
            text-align: center;
            line-height: 55px;
            left: 50%;
            margin: 0 auto;
          }

          .copy {
            padding-top: 10px;
            font-family: $melbourne_light_font;
            font-size: 16px;
            text-align: center;
          }
        }
      }
    }

    .summary-table {
      background-color: white;
      width: 60%;
      float: left;
    }

    td {
      height: 100px;
    }
  }
  .total {
    width: 40%;
    height: 100%;
    left: 50%;
    margin: 0 auto 30px;
    border-top: 1px solid #43c1c7;
    background-color: white;
    float: left;

    .title {
      width: 100%;
      font-size: 20px;
      text-align: center;
      padding: 10px 0px 10px 0px;
      font-family: $melbourne_light_font;
      color: $mule-grey;
    }

    .weight-estimation,  .inventory-submit {
      width: 50%;
      height: 50px;
      float:left;
      position:relative;
    }

    .weight-estimation {
      button {
        margin-top: 22px;
      }
    }

    .packaging-estimation {
      width: 100%;
      height: 225px;
      float: left;

      .box-group-item {
        width: 25%;
        font-size: 12px;
        float: left;

        .details, .wardrobe-box-icon, .box-icon, .box-medium-icon, .box-small-icon {
          float: left;
        }

        .details {
          width: 56%;
        }

        .wardrobe-box-icon, .box-icon, .box-medium-icon, .box-small-icon {
          background-repeat: no-repeat;
          background-size: cover;
          height: 75px;
          width: 75px;
        }

        .wardrobe-box-icon {
          background-image: image-url("icons/wardrobe_box_icon_aqua_240.png");
        }

        .box-icon {
          background-image: image-url("icons/box_icon_aqua_240.png");
        }

        .box-medium-icon {
          background-image: image-url("icons/box_medium_icon_aqua_240.png");
        }

        .box-small-icon {
          background-image: image-url("icons/box_small_icon_aqua_240.png");
        }
      }
    }
  }
  .rooms-wrapper {
    width: 80%;
    height: 100%;
    min-height: 430px;
    background-color: white;
    left: 50%;
    margin: 0 auto;

    .overview {
      height: 40px;
      width: 100%;
      background-color: grey;

      .button-container {
        margin-top: 20px;

        button {
          color: white;
          background-color: $mule-aqua;
          border: none;
          border-radius: 0px;
          height: 40px;
          width: 15%;
          font-family: $melbourne_light_font;
          font-size: 18px;
          text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
        }

        .addRoom {
          float: left;
        }
        .finish {
          float: right;
        }
        .room-totalizer {
          color: white;
          font-family: $melbourne_light_font;
          font-size: 18px;
          width: 70%;
          float: left;
          height: 100%;
          margin-top: 7px;

          .description {
            width: 59%;
            text-align: right;
            float: left;
            padding-right: 5%;
          }

          .furniture-for-house {
            width: 39%;
            text-align: left;
            float: left;
            padding-left: 10px;
            padding-top: 1px;
          }
        }
      }
    }
    .room {
      width: 97%;
      margin: 4px auto 4px;

      .header{
        .toggle-room {
          width: 10%;
        }
        .header-details{
          width: 90%;

          .name {
            width: 40%;

            input {
              line-height: 15px;
              padding-left: 5px;
              width: 100%;
            }
            span {
              display: none;
            }
          }
          .contents-summary {
            width: 60%;

            .furniture-count {
              width: 80%;
              padding-top: 8px;

              .title, .furniture-for-room {
                font-family: $melbourne_light_font;
                font-size: 16px;
              }
              .title {
                margin-left: 4%;
              }
              .furniture-for-room {

              }
              .counter {
                width: auto;
                line-height: 22px;
              }
            }
            .completion-indicator {
              width: 20%;
              margin-right: 0px;
              padding-top: 0px;

              .glyphicon {
                font-size: 15px;
              }
            }
          }
        }
      }
      .room-inventory {
        .contents-form {
          form {
            margin: 0px;
          }

          .row {
            margin-top: 4px;

            .col-md-12 {
              padding-left: 0px;
              padding-right: 0px;
            }

            .category {
              margin-bottom: 4px;

              .category-container {
                .image {
                  background-repeat: no-repeat;
                  background-size: cover;
                  // Beds
                  &.frame {
                    background-image: image-url("icons/bed_icon_aqua_240.png");
                  }
                  &.spring {
                    background-image: image-url("icons/bed_spring_icon_aqua_240.png");
                  }
                  &.mattress {
                    background-image: image-url("icons/bed_mattress_icon_aqua_240.png");
                  }

                  // Chairs
                  &.chairs {
                    background-image: image-url("icons/chair_icon_aqua_240.png");
                  }

                  &.tables {
                    background-image: image-url("icons/table_icon_aqua_240.png");
                  }

                  &.coffee {
                    background-image: image-url("icons/coffee_table_icon_aqua_240.png");
                  }
                  &.side {
                    background-image: image-url("icons/side_table_icon_aqua_240.png");
                  }
                  &.office {
                    background-image: image-url("icons/office_table_icon_aqua_240.png");
                  }

                  &.two.seat {
                    background-image: image-url("icons/sofa_icon_aqua_240.png");
                  }
                  &.four.seat {
                    background-image: image-url("icons/sofa_icon_aqua_240.png");
                  }
                  &.six.seat {
                    background-image: image-url("icons/sofa_icon_aqua_240.png");
                  }
                  &.eight.seat {
                    background-image: image-url("icons/sofa_icon_aqua_240.png");
                  }

                  // Lighting
                  &.ceiling.fixture {
                    background-image: image-url("icons/chandelier_icon_aqua_240.png");
                  }
                  &.chandelier {
                    background-image: image-url("icons/chandelier_icon_aqua_240.png");
                  }
                  &.floor {
                    background-image: image-url("icons/lamp_icon_aqua_240.png");
                  }
                  &.desk {
                    background-image: image-url("icons/table_lamp_icon_aqua_240.png");
                  }

                  // Storage

                  &.dresser {
                    background-image: image-url("icons/dresser_mirror_icon_aqua_240.png");
                  }
                  &.freestanding {
                    background-image: image-url("icons/dresser_icon_aqua_240.png");
                  }
                  &.bookcase {
                    background-image: image-url("icons/bookcase_icon_aqua_240.png");
                  }
                  &.storage.bin {
                    background-image: image-url("icons/storage_box_icon_aqua_240.png");
                  }
                  &.suitcase {
                    background-image: image-url("icons/suitcase_icon_aqua_240.png");
                  }
                  &.china {
                    background-image: image-url("icons/chair_icon_aqua_240.png");
                  }
                  &.filing {
                    background-image: image-url("icons/file_cabinet_icon_aqua_240.png");
                  }
                  &.entertainment.center {
                    background-image: image-url("icons/entertainment_center_icon_aqua_240.png");
                  }
                  &.dufflebag {
                    background-image: image-url("icons/duffle_icon_aqua_240.png");
                  }
                  &.trunk {
                    background-image: image-url("icons/trunk_icon_aqua_240.png");
                  }

                  // Music
                  &.drums {
                    background-image: image-url("icons/drum_set_icon_aqua_240.png");
                  }
                  &.instrument {
                    background-image: image-url("icons/instrument_icon_aqua_240.png");
                  }
                  &.grand {
                    background-image: image-url("icons/piano_icon_aqua_240.png");
                  }
                  &.baby {
                    background-image: image-url("icons/piano_icon_aqua_240.png");
                  }
                  &.upright {
                    background-image: image-url("icons/piano_icon_aqua_240.png");
                  }

                  // Kitchen
                  &.fridge {
                    background-image: image-url("icons/fridge_icon_aqua_240.png");
                  }
                  &.freezer {
                    background-image: image-url("icons/fridge_icon_aqua_240.png");
                  }
                  &.oven {
                    background-image: image-url("icons/oven_icon_aqua_240.png");
                  }

                  //Other
                  &.mirror {
                    background-image: image-url("icons/mirror_icon_aqua_240.png");
                  }
                  &.picture {
                    background-image: image-url("icons/painting_icon_aqua_240.png");
                  }
                  &.rugs {
                    background-image: image-url("icons/rug_icon_aqua_240.png");
                  }
                  &.skis {
                    background-image: image-url("icons/winter_sports_icon_aqua_240.png");
                  }
                  &.snowboard {
                    background-image: image-url("icons/winter_sports_icon_aqua_240.png");
                  }
                  &.bicycle {
                    background-image: image-url("icons/winter_sports_icon_aqua_240.png");
                  }
                  &.stroller {
                    background-image: image-url("icons/stroller_icon_aqua_240.png");
                  }
                  &.car.seat {
                    background-image: image-url("icons/car_seat_icon_aqua_240.png");
                  }
                  &.plants {
                    background-image: image-url("icons/plant_icon_aqua_240.png");
                  }
                  &.golf.clubs {
                    background-image: image-url("icons/golf_bag_icon_aqua_240.png");
                  }
                  &.pool.table {
                    background-image: image-url("icons/pool_icon_aqua_240.png");
                  }
                  &.ping.pong {
                    background-image: image-url("icons/ping_pong_icon_aqua_240.png");
                  }
                  &.grill {
                    background-image: image-url("icons/grill_icon_aqua_240.png");
                  }
                  &.play.house {
                    background-image: image-url("icons/teddy_icon_aqua_240.png");
                  }
                  &.play.pen {
                    background-image: image-url("icons/teddy_icon_aqua_240.png");
                  }
                  &.dollhouse {
                    background-image: image-url("icons/teddy_icon_aqua_240.png");
                  }

                  &.cabinets {
                    background-image: image-url("icons/cabinet_icon_aqua_240.png");
                  }
                  &.stereos {
                    background-image: image-url("icons/stereo_icon_aqua_240.png");
                  }
                  &.tv {
                    background-image: image-url("icons/tv_icon_aqua_240.png");
                  }
                  &.computers {
                    background-image: image-url("icons/computer_icon_aqua_240.png");
                  }
                  &.lamps {
                    background-image: image-url("icons/lamp_icon_aqua_240.png");
                  }
                  &.bookcases {
                    background-image: image-url("icons/bookcase_icon_aqua_240.png");
                  }
                  &.mirrors {
                    background-image: image-url("icons/mirror_icon_aqua_240.png");
                  }
                  &.paintings {
                    background-image: image-url("icons/painting_icon_aqua_240.png");
                  }
                  &.appliances {
                    background-image: image-url("icons/kitchen_appliances_icon_aqua_240.png");
                  }
                  &.pianos {
                    background-image: image-url("icons/piano_icon_aqua_240.png");
                  }
                  &.other {
                    background-image: image-url("icons/other_icon_aqua_240.png");
                  }
                }
                .category-header {
                  height: 35px;

                  .details {

                    .title, .contents-summary {
                      font-size: 18px;
                      font-family: $melbourne_light_font;
                    }
                    .title {
                      padding-top: 6px;
                    }
                    .contents-summary {
                      .item-title, .furniture-for-category {
                        color: grey;
                      }
                    }
                  }
                }
                .category-dropdown {
                  .item-container {
                    .description {
                      .type {
                        width: 63%;
                      }
                    }
                  }
                  .sub-category {
                    display: inline-block;
                    border-bottom: 1px dashed $mule-aqua;
                    padding-bottom: 20px;
                    width: 100%;

                    .title {

                    }
                    .sub-item-container {
                      width: 33.33%;
                      // background-color: blue;
                      height: 100%;
                      float: left;

                      .description {
                        width: 100%;
                        height: 88%;
                        // background-color: red;
                        .table {
                          margin-bottom: 0px;
                        }

                        .image {
                          width: 90px;
                          height: 90px;
                          // background-color: orange;
                        }
                        .type {
                          width: 90px;
                          font-family: $melbourne_light_font;
                          // background-color: yellow;
                          min-height: 48px;
                          height: auto;
                        }
                      }

                      .quantity {
                        // background-color: green;
                        width: 100%;
                        height: 40%;
                        padding-top: 0px;

                        .counter {
                          margin-top: 15px;
                          border-radius: 15px;
                        }

                        .stepper {
                          float: left;
                          width: 67%;
                          // background-color: brown;
                          height: 100%;
                          margin-top: 0px;

                          button {
                            left: 50%;
                            float: left;
                            width: 60%;
                            height: 50%;
                            border-radius: 0px;
                            margin-left: 13px;
                          }
                        }
                      }
                    }
                  }
                }
                .save {
                  height: 42px;

                  .save-category {
                    margin-top: 5px;
                  }
                }
              }
            }
          }
          .save-form, .remove-rooom {
            float: left;
            line-height: 22px;
          }
          .save-form {
            font-size: 18px;
            padding-top: 6px;
            width: 80%;
          }
          .remove-room {
            font-size: 17px;
            padding-top: 5px;
            width: 18%;
            height: 32px;
            color: white;
            background-color: red;
            border: none;
            margin-left: 4px;
          }
        }
      }
    }
  }
}