<div class="site-wrapper not-landing">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">
                        Mule
                    </h3>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row highlights residence-type">

    <div id="wrapper"></div>
</div>

<div class="foot-space" style="padding: 20px; height: 70px">
    <a href="https://mixpanel.com/f/partner" class="pull-right">
        <img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" />
    </a>
</div>


<script>
    mixpanel.track('Inventory pageview', {
        'page name' : document.title,
        'url' : window.location.pathname
    });
</script>
