$mule-aqua: #43C1C7;
$mule-grey: #6f6f6f;
$bebas_neue_font: BebasNeueFont;
$melbourne_light_font: MelbourneLightFont;

.inventory-wrapper {
  background-color: white;
  height: 100%;
  width: 90%;
  left: 50%;
  margin: 0 auto;

  .summaryHeader {
    color: $mule-aqua;
    font-size: 65px;
    font-family: $bebas_neue_font;
    letter-spacing:5px;
  }

  .summary {
    width: 95%;
    height: 100%;
    margin: 0 auto;

    table {
      background-color: grey;
    }

    td {
      color: white;
      width: 500px;
      height: 80px;
    }
  }
  .total {
    width: 95%;
    height: 80px;
    left: 50%;
    margin: 0 auto;
    background-color: white;
    padding-top: 10px;

    .title {
      width: 100%;
      font-size: 12pt;
      text-align: center;
    }

    .weight-estimation,  .inventory-submit {
      width: 15%;
      height: 50px;
      float:left;
      position:relative;
    }

    .packaging-estimation {
      width: 70%;
      height: 50px;
      float:left;
      position:relative;

      .box-group-item {
        width:25%;
        font-size: 12px;
        float: left;
      }
    }
  }
}