$mule-aqua: #43C1C7;
$mule-grey: #6f6f6f;
$bebas_neue_font: BebasNeueFont;
$melbourne_light_font: MelbourneLightFont;

.inventory-wrapper {
  background-color: white;
  min-height: 910px;
  height: 100%;
  width: 90%;
  left: 50%;
  margin: 0 auto;

  .summary-header {
    color: $mule-aqua;
    font-size: 65px;
    font-family: $melbourne_light_font;
    letter-spacing:5px;
  }

  .personalization {
    font-size: 30px;
    font-family: $melbourne_light_font;
  }

  .summary {
    width: 80%;
    margin: 0 auto;
    min-height: 300px;

    .process {
      .header {
        width: 80%;
        height: 100%;
        left: 50%;
        margin: 0 auto;

        .description {
          height: 100%;
          width: 100%;
          font-family: $melbourne_light_font;
          font-size: 20px;
          ul {
            list-style-type: none;
          }
          li {
            display: inline;
            margin: 0 5%;
          }
        }
        .copy {
          color: black;
          height: 100%;
          width: 100%;
          font-family: $melbourne_light_font;
          font-size: 18px;
        }
      }
      .steps {
        height: 180px;
        width: 90%;
        left: 50%;
        margin: 20px auto;

        .step {
          width: 100%;
          height: 100%;
          margin: 5px;
          background-color: white;

          .number {
            color: white;
            height: 50px;
            width: 50px;
            border-radius: 25px;
            background: #43c1c7;
            font-size: 38px;
            font-family: BebasNeueFont;
            text-align: center;
            line-height: 55px;
            left: 50%;
            margin: 0 auto;
          }

          .copy {
            padding-top: 10px;
            font-family: $melbourne_light_font;
            font-size: 16px;
            text-align: center;
          }
        }
      }
    }

    .summary-table {
      background-color: white;
      width: 60%;
      float: left;
    }

    td {
      height: 100px;
    }
  }
  .total {
    width: 40%;
    height: 100%;
    left: 50%;
    margin: 0 auto 30px;
    border-top: 1px solid #43c1c7;
    background-color: white;
    float: left;

    .title {
      width: 100%;
      font-size: 20px;
      text-align: center;
      padding: 10px 0px 10px 0px;
      font-family: $melbourne_light_font;
      color: $mule-grey;
    }

    .weight-estimation,  .inventory-submit {
      width: 50%;
      height: 50px;
      float:left;
      position:relative;
    }

    .weight-estimation {
      button {
        margin-top: 22px;
      }
    }

    .packaging-estimation {
      width: 100%;
      height: 225px;
      float: left;

      .box-group-item {
        width: 25%;
        font-size: 12px;
        float: left;

        .details, .wardrobe-box-icon, .box-icon, .box-medium-icon, .box-small-icon {
          float: left;
        }

        .details {
          width: 56%;
        }

        .wardrobe-box-icon, .box-icon, .box-medium-icon, .box-small-icon {
          background-repeat: no-repeat;
          background-size: cover;
          height: 75px;
          width: 75px;
        }

        .wardrobe-box-icon {
          background-image: image-url("icons/wardrobe_box_icon_aqua_240.png");
        }

        .box-icon {
          background-image: image-url("icons/box_icon_aqua_240.png");
        }

        .box-medium-icon {
          background-image: image-url("icons/box_medium_icon_aqua_240.png");
        }

        .box-small-icon {
          background-image: image-url("icons/box_small_icon_aqua_240.png");
        }
      }
    }
  }
  .rooms-wrapper {
    width: 80%;
    height: 100%;
    min-height: 430px;
    background-color: white;
    left: 50%;
    margin: 0 auto;

    .overview {
      height: 40px;
      width: 100%;
      background-color: green;
      .button-container {
        margin-top: 40px;

        button {
          color: white;
          background-color: $mule-aqua;
          border: none;
          border-radius: 0px;
          height: 40px;
          width: 15%;
          font-family: $melbourne_light_font;
          font-size: 18px;
          text-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
        }

        .addRoom {
          float: left;
        }
        .finish {
          float: right;
        }
        .room-totalizer {
          color: white;
          font-family: $melbourne_light_font;
          font-size: 18px;
          width: 70%;
          float: left;
          height: 100%;
          margin-top: 7px;

          .description {
            width: 61%;
            text-align: right;
            float: left;
          }

          .furniture-for-house {
            width: 20%;
            text-align: left;
            float: left;
            padding-left: 10px;
            padding-top: 1px;
          }
        }
      }
    }
  }
}