$mule-aqua: #43C1C7;
$mule-grey: #6f6f6f;
$bebas_neue_font: BebasNeueFont;
$melbourne_light_font: MelbourneLightFont;

.inventory-wrapper {
  background-color: white;
  height: 100%;
  width: 90%;
  left: 50%;
  margin: 0 auto;

  .summaryHeader {
    color: $mule-aqua;
    font-size: 65px;
    font-family: $bebas_neue_font;
    letter-spacing:5px;
  }

  .summary {
    width: 95%;
    height: 100%;
    margin: 0 auto;

    .summary-table {
      background-color: grey;
    }

    td {
      width: 500px;
      height: 150px;
      &.item-cell {
        .description {
          width: 50%;
          float:left;

          .table-image {
            width: 100px;
            height: 100px;
            background-image: image-url("bed_icon_aqua_240.png");
            background-repeat: no-repeat;
            background-size:cover;
            margin: 0 auto;
            position: relative;
          }
          .item-type {
            width: 100%;
            float: left;
            text-align: center;
          }
        }
        .quantity {
          width: 48%;
          float: right;
          .counter {
            margin-top: 20%;
            margin-bottom: 10%;
          }
          .item-stepper {
            margin-top: 20%;
          }
        }
      }
    }
  }
  .total {
    width: 95%;
    height: 80px;
    left: 50%;
    margin: 0 auto;
    background-color: white;
    padding-top: 10px;

    .title {
      width: 100%;
      font-size: 12pt;
      text-align: center;
    }

    .weight-estimation,  .inventory-submit {
      width: 15%;
      height: 50px;
      float:left;
      position:relative;
    }

    .packaging-estimation {
      width: 70%;
      height: 50px;
      float:left;
      position:relative;

      .box-group-item {
        width:25%;
        font-size: 12px;
        float: left;
      }
    }
  }
  .additions {
    width: 95%;
    height: 40px;
    left: 50%;
    margin: 0 auto;
    background-color: white;

    button {
      margin-left: 15px;
      float: left;
    }
  }
}