$mule-aqua: #43C1C7;
$mule-grey: #6f6f6f;
$bebas_neue_font: BebasNeueFont;
$melbourne_light_font: MelbourneLightFont;

.room {
  height: 100%;
  width: 95%;
  left: 50%;
  margin: 10px auto 10px;

  .header {
    height: 40px;
    width: 100%;
    background-color: $mule-aqua;

    .toggle {
      width: 5%;
      height: 100%;
      font-size: 20px;
      float: left;
      background-color: purple;

      .glyphicon {
        top: 8px;
        color: white;
      }
    }

    .header-details {
      width: 95%;
      float:left;

      .name {
        height: 100%;
        width: 20%;
        float:left;
        color: white;
        font-family: $melbourne_light_font;
        font-size: 24px;
        background-color: grey;
        text-align: center;
        padding-top: 4px;
      }
      .contents-summary {
        height: 100%;
        width: 80%;
        float:left;

        .furniture-count, .packaging-count, .completion-indicator {
          color: white;
          font-family: $bebas_neue_font;
          font-size: 24px;
          padding-top: 4px;
          float: left;
        }

        .furniture-count, .packaging-count {
          width: 47.5%;

          .title {
            float: left;
            margin-left: 10%;
          }
          .counter {
            height: 32px;
            width: 60px;
            float: left;
            text-align: center;
            line-height: 31.5px;
            margin-left: 5%;
          }
        }
        .packaging-count {
          .box-icon {
            float: left;
            height: 30px;
            width: 30px;
            margin: 2px 10px;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: image-url("icons/box_icon_aqua_60.png");
          }
        }
        .completion-indicator {
          width: 5%;
          height: 100%;

          .glyphicon {
            font-size: 20px;
          }
        }
      }
    }
  }
  .contents-form {
    margin-top: 20px;
    display: none;
    height: 100%;

    .row {
      text-transform:capitalize;
      margin-bottom: 10px;
      border-bottom: 1px solid $mule-aqua;
      margin-bottom: 20px;
      min-height: 100px;

      .category-title {
        color: $mule-aqua;
        font-family: $melbourne_light_font;
        font-size: 24px;
        text-align: center;
        border-bottom: solid 1px;
      }
      .item-container {
        height: 60px;

        .description, .quantity {
          height:100%;
          float: left;
        }
        .description {
          width: 60%;

          .image{
            width: 36%;
            height: 100%;
            float: left;
            background-repeat: no-repeat;
            background-size: cover;
            left: 50%;
            margin: 0 auto;

            &.sofas {
              background-image: image-url("icons/sofa_icon_aqua_240.png");
            }
          }
          .type {
            width: 64%;
            font-family: $melbourne_light_font;
            font-size: 16px;
            float: left;
            margin-top: 10%;
          }
        }
        .quantity {
          width: 40%;
          padding-top: 10px;

          .counter {
            float: left;
            width: 20%;
            margin-top: 8px;
          }
          .stepper {

          }
        }
      }
    }
    .form-section {
      width: 25%;
      padding: 10px;
      float: left;
    }

    .save-form {
      margin-top: 20px;
      float: right;
    }
  }
}