$mule-aqua: #43C1C7;
$mule-dark-aqua: #008282;
$mule-grey: #6f6f6f;
$bebas_neue_font: BebasNeueFont;
$melbourne_light_font: MelbourneLightFont;

html {
  .modal {
    width: 630px;
    margin-left: -310px;
  }

  height: 100%;
  body {
    background: transparent;
    font: 400 1.5em/1.5 "Lato", Helvetica, Arial, serif;
    text-align: center;
    height: 100%;
    width: 100%;

    // // Tourist.js stylings
    // .popover {
    //   padding-bottom: 10px;
    // }

    #nav {
      height: 75px;
      background-color: $mule-aqua;
    }

    #logo {
      top: 12px;
      position:relative;
      background-image: image-url("mule_logo_landscape_100.png");
      background-repeat: no-repeat;
      background-size:cover;
      height: 51px;
      width: 100px;
      left: 50px;
      background-color: transparent;
    }

    .opening {
      width: 100%;
      height: 100%;
      z-index: 1;

      .hero-image {
        background-image: image-url("mule_logo.png");
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 224px;
        min-height: 300px;
        position: fixed;
        top: 22%;
        left: 53%;
        z-index: 1;
        margin-left: -150px;

        h1 {
          line-height: 130px;
          font-size: 50px;
        }
      }

      .header-copy {
        position: fixed;
        top: 60%;
        width: 100%;
        z-index: 1;

        .row {
          float: left;
          width: 100%;

          h2 {
          color: white;
          font-size: 65px;
          font-family: $bebas_neue_font;
          letter-spacing:5px
        }
        }
      }

      .subheader-copy {
        position: fixed;
        width: 70%;
        top: 73%;
        left: 15%;
        z-index: 1;

        .row {
          height: 60px;

          .col-md-4 {
            text-align: center;
            vertical-align: middle;
            line-height: 60px;
            height: 100%;
            color: white;
            font-size: 52px;
            font-family: $melbourne_light_font;
            letter-spacing:5px
          }
        }
        .keyword {
          float: left;
          height: 100%;
          width: 260px;
          overflow: auto;
          margin-left: 50px;
        }
      }
    }

    .content {
      width: 100%;
      height: 100%;
      text-align: justify;
      position: absolute;
      top: 100%;
      margin: 0 auto;
      background-color: $mule-grey;
      z-index: 2;

      .mule-process {
        background-color: $mule-aqua;
        position: relative;

        .process-header {
          text-align: center;
          vertical-align: middle;
          line-height: 60px;
          height: 100%;
          color: white;
          font-size: 52px;
          font-family: $bebas_neue_font;
          letter-spacing: 5px;
          padding-top: 2%;
          max-width: 95%;
          left: 50%;
          margin: 0 auto;
        }

        .col-md-4 {
          .bounding-box {
             vertical-align: top;
             margin: 10px auto;
             height: 405px;
             width: 85%;
             padding-top: 10px;

            .border-box {
              height: 380px;
              border: 5px solid white;
              box-sizing: border-box;
            }
            // Refactor sass to extend from base and only overwrite background-image
            .number-one {
              margin: 4% auto;
              height: 100px;
              width: 60px;
              left: 50%;
              background-image: image-url("icons/one_140.png");
              background-size: cover;
              background-repeat: no-repeat;
            }
            .number-two {
              margin: 4% auto;
              height: 100px;
              width: 60px;
              left: 50%;
              background-image: image-url("icons/two_140.png");
              background-size: cover;
              background-repeat: no-repeat;
            }
            .number-three {
              margin: 4% auto;
              height: 100px;
              width: 60px;
              left: 50%;
              background-image: image-url("icons/three_140.png");
              background-size: cover;
              background-repeat: no-repeat;
            }
            .title {
              color: white;
              font-family: $bebas_neue_font;
              font-size: 30px;
              letter-spacing: 5px;
              text-align: center;
              vertical-align: middle;
              height: 13%;
              width: 100%;
            }
            .blurb {
              color: white;
              letter-spacing: -0.5px;
              height: 50%;
              width: 100%;
              padding: 0px 10px 0px 10px;
              font-family: $melbourne_light_font;
              font-size: 18px;
              line-height: 150%;
            }
          }

          h2 {
            font-size: 30px;
            padding: 25px 15px;
            color: #434A54;
          }

          p {
            color: #434A54;
            font-size: 14px;
            line-height: 1.8;
            padding: 5px 15px;
          }
        }
      }
      .cta {
        background-color: white;
        position: relative;
        width: 100%;

        .col-md-4 {
          margin-bottom: 30px;
          .bounding-box {
            margin: 10px auto;
            height: 500px;
            width: 95%;
            vertical-align: middle;

            .blurb {
              top: 30%;
              margin: 0 auto;
              width: 100%;
              position:relative;
              color: $mule-aqua;
              font-family: $melbourne_light_font;
              font-size: 32px;
              text-align: center;
            }
            h2 {
              font-size: 30px;
              padding: 25px 15px;
              color: #434A54;
            }

            p {
              color: #434A54;
              font-size: 14px;
              line-height: 1.8;
              padding: 5px 15px;
            }
            .action-block {
              margin: 0 auto;
              width: 100%;
              height: 100%;

              .title {
                color: $mule-aqua;
                height: 100px;
                letter-spacing: 5px;
                font-size: 65px;
                font-family: $bebas_neue_font;
                text-align: center;
                vertical-align: middle;
              }
              .title:hover {
                cursor: pointer;
                color: $mule-dark-aqua;
              }
              .action-icon {
                background-image: image-url("icons/notes_icon_400.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size:contain;
                height: 400px;
                width: 100%;
                left: 50%;
                margin: 0 auto;
              }
              .action-icon:hover {
                cursor: pointer;
                background-image: image-url("icons/notes_icon_dark_aqua_400.png");
              }
            }
          }
        }
      }
      .message-reinforce {
        background-color: $mule-aqua;

        .col-md-4 {
          .bounding-box {
            vertical-align: top;
            margin: 10px auto;
            height: 270px;
            width: 85%;

            .number {
              margin-top: 4%;
              height: 30%;
              width: 25%;
              left: 50%;
              margin: 0 auto;
              background-color: $mule-grey;
            }
            .title {
              color: white;
              letter-spacing: 5px;
              font-size: 46px;
              font-family: BebasNeueFont;
              text-align: center;
              padding-top: 10px;
              position: relative;
            }
            .footer-logo {
              left: 50%;
              margin: 0 auto;
              width: 60%;
              height: 100px;
              border: 5px solid white;
              box-sizing: border-box;
            }
            .blurb {
              color: white;
              letter-spacing: -0.5px;
              height: 50%;
              width: 100%;
              padding: 0px 10px 0px 10px;
              font-family: $melbourne_light_font;
              font-size: 18px;
              line-height: 150%;
            }
          }
        }
        .col-md-12 {
          height: 320px;
          background-color: white;

          .footer-logo {
            width:70%;
            margin: 20px auto;
            height: 200px;
            background-image: image-url("mule_logo_landscape_400_aqua.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            left: 50%;
          }
          .blurb {
            top: 30%;
            margin: 0 auto;
            width: 100%;
            color: $mule-aqua;
            font-family: $melbourne_light_font;
            font-size: 32px;
            text-align: center;
          }
        }
      }
    }
    #footer {
      .col-md-12 {
        height: 100px;
        width: 100%;
        background-color: $mule-aqua;
      }
    }
  }
}
