$mule-aqua: #43C1C7;
$mule-dark-aqua: #008282;
$mule-grey: #6f6f6f;
$bebas_neue_font: BebasNeueFont;
$melbourne_light_font: MelbourneLightFont;

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
	html {
	  .modal {

	  }

	  body {

	    .nav {

	    }

	    .house-background {
	      height: 500px;
	      width: 100%;
	    }

	    .logo {
	    	top: 17.5px;
	    	height: 40px;
	    	width: 78px;
	    }

	    .opening {
	    	.mule-logo-container {
	    	  width: 100%;
	    	  position: fixed;
	    	  top: 20%;

	    	  .col-md-12 {
	    	  	height: 134px;
	    	  }
    		}

	      .mule-logo {
	      	max-width: 100px;
	        h1 {
	        }
	      }

	      .header-copy {
	      	top: 46%;

	        .row {

	          h2 {
	          	font-size: 25px;
	          	letter-spacing: 3px;
	        	}
	        }
	      }

	      .subheader-copy {
	      	width: 100%;
	      	left: 0;
	      	top: 57%;

	        .row {
	        	margin-top: 0;

	          .col-md-4 {
	          }

	          ul {
	          	height: 90px;
	          	font-size: 20px;
	          	width: 70%;
	          	left: 50%;
	          	margin: 0 auto;

	          	li {
	          		font-size: 20px;
	          	}
	          }
	        }
	        .keyword {
	        }
	      }
	    }

	    .content {
	    	top: 83%;

	      .mule-process {

	        .process-header {
	        	line-height: 35px;
	        	font-size: 21px;
	        	letter-spacing: 2px;
	        	padding-bottom: 10px;
	        	padding-top: 20px;
	        }

	        .col-md-4 {
	          .bounding-box {
	          	margin: 0 auto;

	            .border-box {
	            }
	            // Refactor sass to extend from base and only overwrite background-image
	            .number-one {
	            	margin-right: 110px;
	            }
	            .number-two {
	            	margin-right: 105px;
	            }
	            .number-three {
	            	margin-right: 110px;
	            }
	            .title {
	            }
	            .blurb {
	            	font-size: 18px;
	            }
	          }

	          h2 {
	          }

	          p {
	          }
	        }
	      }
	      .cta {
	        .col-md-4 {
	        	margin-bottom: 0px;

            .blurb {
            	color: $mule-aqua;
            	font-size: 18px;
            	left: 0;
            	margin: 20px auto;
            	font-size: 24px;
            	font-family: $melbourne_light_font;
            	text-align: center;
            	width: 80%;
            }
            h2 {
            }
            .device-availability {
            	left: 50%;
            	margin:0 auto;
            	color: $mule-aqua;
            	font-size: 60px;

            	.snapshot {
            		width: 100%;
            		height: 290px;
            		background-repeat: no-repeat;
            		background-image: image-url("device_pair.png");
            		background-size: contain;
            		margin-left: 7px;
            	}
            	.platforms {
		            ul {
		              list-style-type: none;
		              width: 100%;
		              padding-top: 20px;
		            }

		            li {
		              display: inline;
		            }
            	}
            	.device-cta {
            		font-family: $melbourne_light_font;
            		font-size: 14px;
            		color: $mule-aqua;
            		left: 50%;
            		margin: 0 auto;
            		text-align: center;

            		.device-start:hover {
            			cursor:pointer;
            			color: $mule-dark-aqua;
            		}
            		p {
									color: $mule-aqua;
            			font-size: 18px;
            			margin-bottom: 0;
            		}
            	}
            }

            p {
            }
            .action-block {

              .title {
              	font-size: 50px;
              	height: 70px;
              }
              .title:hover {
              }
              .action-icon {
              }
              .action-icon:hover {
              }
            }
          }
	      }
	      .message-reinforce {

	        .col-md-4 {
	          .bounding-box {

	            .number {
	            }
	            .title {
	            }
	            .footer-logo {
	            }
	            .blurb {
	            }
	          }
	        }
	        .col-md-12 {
	        	height: 380px;

	          .footer-logo {
	          	width: 100%;
	          	margin: 0px auto;
	          	height: 200px;
	          }
	          .blurb, .sub-blurb {
	          }
	          .blurb {
	          	font-size: 21px;
	          }
	          .sub-blurb {

	            &:hover {
	            }
	          }
	        }
	      }
	    }
	    #footer {
	      .col-md-12 {
	      }
	    }
	  }
	}
}