$mule-aqua: #43C1C7;
$mule-dark-aqua: #008282;
$mule-grey: #6f6f6f;
$bebas_neue_font: BebasNeueFont;
$melbourne_light_font: MelbourneLightFont;
$desktop-normal-max: 1440px;
$desktop-normal-min: 1024px;

html {
  .modal {
    width: 630px;
    margin-left: -310px;
    left: 50%;
    overflow-y: hidden;
  }

  height: 100%;
  body {
    font-family: 'Roboto';
    background-size: cover;
    font: 400 1.5em/1.5 "Lato", Helvetica, Arial, serif;
    text-align: center;
    height: 100%;
    width: 100%;

    .nav {
      height: 75px;
      background-color: $mule-aqua;
      display: block;

      .sign-in {
        height: 75px;
        width: 240px;
        float: right;

        form {
          padding-top: 5px;
        }

        input, button {
          font-family: 'Roboto';
          height: 35%;
          width: 200px;
        }
      }
    }

    .house-background {
      position: relative;
      height: auto;
      max-width: 980px;
      left: 0;
      margin: 0 auto;
      top: 0px;

      .primary-cta, .device {
        height: 100%;
        color: $mule-aqua;
        font-family: 'Roboto';
      }

      .primary-cta {
        .header {
          font-size: 44px;
          line-height: 65px;
          margin-top: 130px;
        }
        .subheader {
          font-size: 28px;
          line-height: 42px;
          margin-top: 15px;
        }
        .bullets {
          margin-top: 20px;
          text-align: left;
          padding-left: 10%;

          ul {
            list-style-image: image-url("icons/mule_icon_aqua_20.png");
          }
          li {
            vertical-align: top;
            font-size: 18px;

            &:not(:first-child){
              margin-top: 20px;
            }
          }
        }
      }
      .device {
        .screenshot {
          width: 52%;
          height: 420px;
          margin: 30px auto 0px auto;
          background-image: image-url("device_single.png");
          background-repeat: no-repeat;
          background-size: contain;
        }

        .instructions {
          font-size: 16px;
          width: 100%;
        }

        .dont-worry {
          font-size: 12px;
          width: 100%;
        }

        .form-group {
          margin-top: 10px;
        }
        .start-inventory {
          form {
            width: 80%;
            margin: 0 auto;
          }
          .header {
            font-size: 40px;
            text-align: center;
            vertical-align: middle;
            height: 13%;
            width: 100%;
            margin-top: -20px;
          }
          .subheader {
            font-size: 25px;
          }
          button {
            background-color: $mule-aqua;
            width: 80%;
            font-size: 22px;
            margin-top: 15px;
            line-height: 25px;
            padding-top: 8px;
            letter-spacing: 2px;
            font-family: $bebas_neue_font;
            outline: none;
            border: none;

            &:hover {
              background-color: $mule-dark-aqua;
            }
          }
        }
      }
    }
    .logo {
      top: 12px;
      position:relative;
      background-image: image-url("mule_logo_landscape_100.png");
      background-repeat: no-repeat;
      background-size:cover;
      height: 51px;
      width: 100px;
      margin-left: 10px;

      @media only screen
      and (min-width : 1224px) {
        left: 50px;
      }
      background-color: transparent;
    }

    .opening {
      width: 100%;
      height: 100%;
      z-index: 1;

      .mule-logo-container {
        width: 100%;
        position: fixed;
        top: 20%;

        .col-md-12 {
          height: 260px;
        }
      }

      .mule-logo {
        background-image: image-url("mule_logo.png");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        top: 0%;
        left: 0%;
        z-index: 1;
        margin: 0 auto;
        max-width: 195px;
        height: 100%;

        h1 {
          line-height: 130px;
          font-size: 50px;
        }
      }

      .header-copy {
        position: fixed;
        top: 50%;
        width: 100%;
        z-index: 1;

        .row {
          float: left;
          width: 100%;

          h2 {
            font-size: 52px;
            margin-left: 16px;
            left: 50%;
            width: 100%;
            color: white;
            font-family: $bebas_neue_font;
            letter-spacing:5px
          }
        }
      }

      .subheader-copy {
        position: fixed;
        width: 100%;
        top: 60%;
        left: 0;
        z-index: 1;

        .row {
          height: 100%;
          margin-top: 30px;

          ul {
            list-style: none;
            text-align: center;
            vertical-align: middle;
            height: 40px;
            color: white;
            font-size: 32px;
            font-family: 'Roboto';
            letter-spacing:5px;

            li {
              display: inline;
              margin: 0 4%;
              font-size: 50px;
            }
          }
        }
        .keyword {
          float: left;
          height: 100%;
          width: 260px;
          overflow: auto;
          margin-left: 50px;
        }
      }
    }

    .content {
      width: 100%;
      height: 100%;
      text-align: justify;
      position: absolute;
      top: 79%;
      margin: 0 auto;
      background-color: $mule-grey;
      z-index: 2;

      .mule-process, .testimonials {
        font-family: 'Roboto';

        .col-md-4 {
          .bounding-box {
              vertical-align: top;
              margin: 0px auto;
              height: 435px;
              width: 96%;
              padding-top: 10px;

            .border-box {
              height: 410px;
              border: 5px solid white;
              box-sizing: border-box;
            }
          }
        }
      }
      .testimonials {
        background-color: $mule-aqua;
        color: white;
        height: 580px;

        .row {
          margin: 0;

          .process-header {
            text-align: center;
            vertical-align: middle;
            line-height: 60px;
            height: 100%;
            color: white;
            font-size: 35px;
            font-family: 'Roboto';
            letter-spacing: 5px;
            padding-top: 1%;
            max-width: 95%;
            left: 50%;
            margin: 20px auto;
          }

          &.travel {
            .col-md-4 {
              height: 75px;
              padding: 0;
              text-align: center;

              .distance {
                margin-top: 34px;
                height: 5px;
                width: 100%;
                background-color: white;
              }
              .pickup {
                margin-left: 5px;
              }
              .dropoff {
                margin-right: 5px;
              }
              .pickup, .dropoff {
                font-size: 16px;
                color: $mule-aqua;
                height: 65px;
                margin-top: 5px;
                padding-top: 6px;
                background-color: white;

                .city, .state {

                }
              }
            }
          }
          &.time {
            color: $mule-aqua;
            text-align: center;
            font-size: 20px;

            .col-md-4 {
              height: 40px;
              background-color: white;
              .dates, .cost {
                line-height: 38px;
              }
            }
          }
          &.summary {
            text-align: center;

            .col-md-6 {
              margin: 10px 0px;
              height: 75px;
              font-size: 16px;
              background-color: $mule-aqua;

              .house {
                width: 70px;
                height: 70px;
                margin: 0 auto;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: image-url("icons/house_icon_white_240.png");
              }
            }
          }
          &.services {
            .col-md-12 {
              height: 100px;
              padding: 0px;

              .header {
                font-size: 16px;
                background-color: white;
                color: $mule-aqua;
                width: 100%;
                padding-left: 10px;
              }
            }
            ul {
              list-style: none;
              margin-left: 10px;
              margin: 5px auto;
              text-align: center;
              padding: 0;
            }
          }
          &.testimonial {
            .col-md-2 {
              padding: 0px;
            }
            .col-md-10 {
              padding: 0px 5px 0px 5px;
            }
            .col-md-2, .col-md-10 {
              height: 90px;
              background-color: white;
              color: $mule-aqua;

              .profile {
                margin: 20px 10px 0px 0px;
                background-color: $mule-aqua;
                width: 45px;
                height: 45px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
              }
              .quote {
                margin-top: 10px;
                font-size: 14px;
                font-style: italic;
              }
            }
          }
        }
      }
      .value-propositions {
        height: auto;
        background: white;

        .container {
          width: 80%;
          height: 100%;
          margin: 0 auto;

          .a-to-b {
            width: 680px;
            height: 280px;
            background-color: transparent;
            margin: 0 auto;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: image-url("a_to_b_800.png");
            margin-top: 20px;
          }
          .logo {
            background-image: image-url("mule_logo_landscape_400_aqua.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin: 0 auto;
            height: 120px;
            width: 200px
          }
          .header, .subheader {
            font-family: 'Roboto';
            color: $mule-aqua;
            text-align: center;
            vertical-align: middle;
            height: 28px;
            width: 100%;
          }
          .header {
            font-size: 28px;
            margin-top: 30px;
          }
          .subheader {
            font-size: 20px;
          }
          .propositions {
            margin-top: 30px;
            margin-bottom: 30px;

            .header {
              width: auto;
              background-color: $mule-aqua;
              color: white;
              font-size: 20px;
              height: 100%;
              margin-top: 0px;
            }
            .col-md-2, .col-md-10 {
              padding: 0;
            }
            .insurance {
              .icon {
                background-size: cover;
                background-repeat: no-repeat;
                background-image: image-url("icons/breakage_icon_aqua_240.png");
              }
            }
            .price-transparency {
              .icon {
                background-size: cover;
                background-repeat: no-repeat;
                background-image: image-url("icons/dollar_bill_icon_aqua_240.png");
              }
            }
            .reputation {
              .icon {
                background-size: cover;
                background-repeat: no-repeat;
                background-image: image-url("icons/reputation_icon_aqua_240.png");
              }
            }
            .insurance, .price-transparency, .reputation {
              margin: 20px auto;
              height: 130px;
              width: 80%;

              .blurb {
                font-size: 18px;
                color: $mule-aqua;
                padding: 0px 10px;
                margin-top: 10px;
              }
            }
            .insurance, .reputation {
              .header, .blurb {
                float:left;
              }
              .header {
                padding-left: 20px;
                padding-right: 20px;
                text-align: left;
                margin-left: 10px;
              }
            }
            .price-transparency {
              .header, .blurb {
                float: right;
              }
              .header {
                padding-left: 20px;
                padding-right: 20px;
                text-align: right;
                margin-right: 10px;
              }
            }
            .icon {
              height: 110px;
              width: 110px;
            }
          }
        }
      }
      .cta {
        background-color: white;
        position: relative;
        width: 100%;
        padding-top: 40px;

        .row {
          margin: 0;
        }

        .col-md-4 {
          margin-bottom: 30px;

          .blurb {
            width: 70%;
            margin: 110px auto;
            position:relative;
            color: $mule-aqua;
            font-family: 'Roboto';
            font-size: 32px;
            text-align: center;
            padding-top: 10px;

            @media only screen
            and (max-width : $desktop-normal-max) and (min-width: $desktop-normal-min) {
              margin: 120px auto;
              width: 90%;
              font-size: 20px;
              padding-top: 0px;
            }
          }
          h2 {
            font-size: 30px;
            padding: 25px 15px;
            color: #434A54;
          }

          .device-availability {
            left: 50%;
            margin:0 auto;
            color: $mule-aqua;
            font-size: 60px;

            .screenshot {
              width: 100%;
              height: 240px;
              background-repeat: no-repeat;
              background-image: image-url("device_triple.png");
              background-size: contain;

              @media only screen
              and (max-width : $desktop-normal-max) and (min-width: $desktop-normal-min) {

              }
            }
            .platforms {
              text-align: center;
              ul {
                list-style-type: none;
                width: 100%;
                margin: 0;
                padding: 0;
              }

              li {
                display: inline;
              }
            }
            .device-cta {
              font-family: 'Roboto';
              font-size: 14px;
              color: $mule-aqua;
              left: 50%;
              margin: 0 auto;
              text-align: center;

              @media only screen
              and (max-width : $desktop-normal-max) and (min-width: $desktop-normal-min) {
                margin-top: 0px;
              }

              .device-start:hover {
                cursor:pointer;
                color: $mule-dark-aqua;
              }
              p {
                color: $mule-aqua;
                font-size: 18px;
                margin-bottom: 0;
              }
            }
          }

          p {
            color: #434A54;
            font-size: 14px;
            line-height: 1.8;
            padding: 5px 15px;
          }
          .action-block {
            margin: 0 auto;
            width: 100%;
            height: 100%;

            .title {
              color: $mule-aqua;
              height: 100px;
              letter-spacing: 5px;
              font-size: 65px;
              font-family: $bebas_neue_font;
              text-align: center;
              vertical-align: middle;
            }
            .title:hover {
              cursor: pointer;
              color: $mule-dark-aqua;
            }
            .action-icon {
              background-image: image-url("icons/notes_icon_400.png");
              background-repeat: no-repeat;
              background-position: center;
              background-size:contain;
              height: 400px;
              width: 100%;
              left: 50%;
              margin: 0 auto;
            }
            .action-icon:hover {
              cursor: pointer;
              background-image: image-url("icons/notes_icon_dark_aqua_400.png");
            }
          }
          .bounding-box {
            margin: 10px auto;
            height: 500px;
            width: 95%;
            vertical-align: middle;
          }
        }
      }
      .message-reinforce {
        background-color: $mule-aqua;

        .col-md-4 {
          padding: 0px;
          .bounding-box {
            vertical-align: top;
            margin: 10px auto;
            height: 100%;
            width: 85%;

            .number {
              margin-top: 4%;
              height: 30%;
              width: 25%;
              left: 50%;
              margin: 0 auto;
              background-color: $mule-grey;
            }
            .title {
              color: white;
              letter-spacing: 5px;
              font-size: 35px;
              font-family: 'Roboto';
              text-align: center;
              padding-top: 10px;
              position: relative;
            }
            .footer-logo {
              left: 50%;
              margin: 0 auto;
              width: 60%;
              height: 100px;
              border: 5px solid white;
              box-sizing: border-box;
            }
            .blurb {
              color: white;
              letter-spacing: -0.5px;
              height: 50%;
              width: 100%;
              padding: 0px 10px 0px 10px;
              font-family: 'Roboto';
              font-size: 18px;
              line-height: 150%;
              margin: 20px auto;
            }
          }
        }
      }
    }
    .slogan {
      .col-md-12 {
        height: 370px;
        background-color: white;

        .footer-logo {
          width:50%;
          margin: 20px auto;
          height: 200px;
          background-image: image-url("mule_logo_landscape_400_aqua.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          float: left;
        }
        .blurb, .sub-blurb {
          top: 30%;
          margin: 20px auto;
          width: 100%;
          color: $mule-aqua;
          font-family: 'Roboto';
          text-align: center;
        }
        .blurb {
          font-size: 16px;
          line-height: 80px;
        }
      }
    }
    #footer {
      font-family: 'Roboto';
      .col-md-12 {
        height: 100px;
        width: 100%;
        background-color: $mule-aqua;
        color: white;

        .social-row {
          .business-info {
            width: 100px;
            height: 50px;
            float: left;
            background-repeat: no-repeat;
            background-image: image-url("mule_logo_landscape_100.png");
            background-size: contain;
            margin-left: 3%;
            margin-top: 25px;
          }
          .blurb {
            font-size: 14px;
            line-height: 100px;
            width: auto;
            float: left;
            margin-left: 20px;
          }
          .icons {
            width: auto;
            font-size: 25px;
            text-align: right;
            float: right;
            margin-right: 30px;
            margin-top: 32px;

            ul {
              list-style-type: none;
            }

            li {
              display: inline;
              margin-left: 15px;
            }
          }
        }
      }
    }
  }
}