$mule-aqua: #43C1C7;
$mule-dark-aqua: #008282;
$mule-grey: #6f6f6f;
$bebas_neue_font: BebasNeueFont;
$melbourne_light_font: MelbourneLightFont;

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
	html {
		body {
			padding: 0px;
			max-width: 100%;
			overflow-x: hidden;

			.logo {
				left: 10px;
			}

			.inventory-wrapper {
				width: 100%;

				.personalization {
					padding: 10px 0px;
				}

				.summary-header {
					font-size: 42px;
					padding-top: 20px;
				}

				.rooms-wrapper {
					width: 100%;
					min-height: 0px;

					.overview {
						.button-container {
							.room-totalizer {
								width: 50%;

								.description {
									font-size: 16px;
									width: 78%;
								}

								.furniture-for-house {
									width: 16%;
									padding-top: 0px;
									padding-left: 4px;
									text-align: center;
								}
							}

							button {
								padding: 0px;
								font-size: 16px;
								width: 25%;
							}
						}
					}
					.room {
						width: 97%;
						margin: 4px auto 4px;

						.header{
							.toggle-room {
								width: 10%;
							}
					 		.header-details{
								width: 90%;

								.name {
									width: 40%;

									input {
										line-height: 15px;
										padding-left: 5px;
										width: 100%;
									}
									span {
										display: none;
									}
								}
					 			.contents-summary {
									width: 60%;

									.furniture-count {
										width: 80%;
										padding-top: 8px;

										.title, .furniture-for-room {
											font-family: $melbourne_light_font;
											font-size: 16px;
										}
										.title {
											margin-left: 4%;
										}
										.furniture-for-room {

										}
										.counter {
											width: auto;
											line-height: 22px;
										}
									}
									.completion-indicator {
										width: 20%;
										margin-right: 0px;
										padding-top: 4px;
									}
								}
							}
						}
						.room-inventory {
							.contents-form {
								form {
									margin: 0px;
								}

								.row {
									margin-top: 4px;

									.col-md-12 {
										padding-left: 0px;
										padding-right: 0px;
									}

									.category {
										margin-bottom: 4px;

										.category-container {
											.category-header {
												height: 35px;

												.details {

													.title, .contents-summary {
														font-size: 18px;
														font-family: $melbourne_light_font;
													}
													.title {
														padding-top: 6px;
													}
													.contents-summary {
														.item-title, .furniture-for-category {
															color: grey;
														}
													}
												}
											}
											.category-dropdown {
												.item-container {
													.description {
														.type {
															width: 63%;
														}
													}
												}
												.sub-category {
													display: inline-block;
													border-bottom: 1px dashed $mule-aqua;
													padding-bottom: 20px;

													.title {

													}
													.sub-item-container {
														width: 33.33%;
														// background-color: blue;
														height: 100%;
														float: left;

														.description {
															width: 100%;
															height: 88%;
															// background-color: red;

															.image {
																width: 90px;
																height: 90px;
																// background-color: orange;
															}
															.type {
																width: 90px;
																font-family: $melbourne_light_font;
																// background-color: yellow;
																min-height: 48px;
																height: auto;
															}
														}

														.quantity {
															// background-color: green;
															width: 100%;
															height: 40%;
															padding-top: 0px;

															.counter {
																margin-top: 15px;
																border-radius: 15px;
															}

															.stepper {
																float: left;
																width: 67%;
																// background-color: brown;
																height: 100%;
																margin-top: 0px;

																button {
																	left: 50%;
																	float: left;
																	width: 60%;
																	height: 50%;
																	border-radius: 0px;
																	margin-left: 13px;
																}
															}
														}
													}
												}
											}
											.save {
												.save-category {
													margin-top: 5px;
												}
											}
										}
									}
								}
							}
						}
					}
				}

				.summary {
					width:90%;

					.process {
						.header {
							width:100%;

							.description {
								ul {
									margin: 0px;
								}
								li {
									margin: 0 4%;
								}
							}
						}
						.steps {
							.step {
								margin: 0px;
							}
						}
					}
				}
			}
		}
	}
}