$mule-aqua: #43C1C7;
$mule-grey: #6f6f6f;
$bebas_neue_font: BebasNeueFont;
$melbourne_light_font: MelbourneLightFont;

html {
  height: 100%;
  body {
    background: transparent;
    font: 400 1.5em/1.5 "Lato", Helvetica, Arial, serif;
    // color: #F5F7FA;
    text-align: center;
    height: 100%;
    width: 100%;

    #nav {
      height: 75px;
      background-color: $mule-aqua;
    }

    #logo {
      top: 12px;
      position:relative;
      background-image: image-url("mule_logo_landscape_100.png");
      background-repeat: no-repeat;
      background-size:cover;
      height: 51px;
      width: 100px;
      left: 50px;
      background-color: transparent;
    }

    .opening {
      width: 100%;
      height: 100%;
      z-index: 1;

      .hero-image {
        background-image: image-url("mule_logo.png");
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 224px;
        min-height: 300px;
        position: fixed;
        top: 22%;
        left: 53%;
        z-index: 1;
        margin-left: -150px;

        h1 {
          line-height: 130px;
          font-size: 50px;
        }
      }

      .header-copy {
        position: fixed;
        top: 60%;
        width: 100%;
        z-index: 1;

        .row {
          float: left;
          width: 100%;

          h2 {
          color: white;
          font-size: 65px;
          font-family: $bebas_neue_font;
          letter-spacing:5px
        }
        }
      }

      .subheader-copy {
        position: fixed;
        width: 70%;
        top: 73%;
        left: 15%;
        z-index: 1;

        .row {
          height: 60px;

          .col-md-4 {
            text-align: center;
            vertical-align: middle;
            line-height: 60px;
            height: 100%;
            color: white;
            font-size: 40px;
            font-family: $melbourne_light_font;
            letter-spacing:5px
          }
        }
        .keyword {
          float: left;
          height: 100%;
          width: 260px;
          overflow: auto;
          margin-left: 50px;
        }
      }
    }
    // border: 1px solid black;
    // box-sizing: border-box;
    .content {
      width: 100%;
      height: 100%;
      text-align: justify;
      position: absolute;
      top: 100%;
      margin: 0 auto;
      background-color: $mule-grey;
      z-index: 2;

      .mule-process {
        background-color: $mule-aqua;
        position: relative;
        height: 360px;

        .col-md-4 {
          .bounding-box {
            vertical-align: top;
            margin: 10px auto;
            height: 340px;
            width: 75%;
            border: 5px solid white;
            box-sizing: border-box;

            .number {
              margin-top: 4%;
              height: 30%;
              width: 25%;
              left: 50%;
              margin: 0 auto;
              background-color: $mule-grey;
            }
            .title {
              margin-top: 4%;
              height: 13%;
              width: 100%;
              background-color: $mule-grey;
            }
            .blurb {
              margin-top: 4%;
              height: 50%;
              width: 100%;
              background-color: $mule-grey;
            }
          }

          h2 {
            font-size: 30px;
            padding: 25px 15px;
            color: #434A54;
          }

          p {
            color: #434A54;
            font-size: 14px;
            line-height: 1.8;
            padding: 5px 15px;
          }
        }
      }
      .cta {
        .col-md-12 {
          background-color: white;

          .action-block {
            margin: 0 auto;
            width: 50%;
            height: 100%;

            .title {
              color: $mule-aqua;
              height: 100px;
              letter-spacing: 5px;
              font-size: 65px;
              font-family: $bebas_neue_font;
              text-align: center;
              vertical-align: middle;
            }
            .action-icon {
              background-color: $mule-grey;
              background-image: image-url("notes_icon_400.png");
              background-repeat: no-repeat;
              background-position: center;
              background-size:contain;
              height: 400px;
              width: 500px;
              left: 50%;
              margin: 0 auto;
            }
            .subheader {
              background-color: white;
              height: 100px;
            }
          }
        }
      }
      .message-reinforce {
        background-color: $mule-aqua;
        height:100%;

        .row {
          height:200px;
          .col-md-4 {
            height: 400px;
            border: 5px solid red;
            box-sizing: border-box;
          }
          .col-md-12 {
            background-color: $mule-grey;
            height: 200px;
          }
        }
      }
    }
    #footer {

    }
  }
}
