$mule-aqua: #43C1C7;
$mule-grey: #6f6f6f;
$bebas_neue_font: BebasNeueFont;
$melbourne_light_font: MelbourneLightFont;

#nav {
  height: 75px;
  background-color: $mule-aqua;

}

#logo {
  top: 12px;
  position:relative;
  background-image: image-url("mule_logo_landscape_100.png");
  background-repeat: no-repeat;
  background-size:cover;
  // display:inline-block;
  height: 51px;
  width: 100px;
  left: 50px;
  // display: inline-block;
  background-color: transparent;
}


.jumbotron {
  height: 500px;
  background-image: image-url("hero_house.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-color: transparent;
}

#cta {
  .section {
    margin: -12%;
    background-color: transparent;
    position: relative;
    height: 700px;

    .number {
      width: 100px;
      height: 100px;
      border-radius: 50px;
    }
    .title {

    }
    .text {

    }
  }
}

html {
  height: 100%;
  body {
    background: transparent;
    font: 400 1.5em/1.5 "Lato", Helvetica, Arial, serif;
    // color: #F5F7FA;
    text-align: center;
    height: 100%;

    .opening {
      width: 100%;
      height: 100%;
      z-index: 1;

      .heroImage {
        background-image: image-url("mule_logo.png");
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 224px;
        min-height: 300px;
        position: fixed;
        top: 22%;
        left: 53%;
        z-index: 1;
        margin-left: -150px;

        h1 {
          line-height: 130px;
          font-size: 50px;
        }
      }

      .headerCopy {
        position: fixed;
        top: 60%;
        left: 30%;
        z-index: 1;

        h2 {
          color: white;
          font-size: 65px;
          font-family: $bebas_neue_font;
          letter-spacing:5px
        }

      }
      .subheaderCopy {
        position: fixed;
        width: 70%;
        top: 75%;
        left: 16%;
        z-index: 1;
        .row {
          background-color: white;
          height: 60px;

          .col-md-4 {
            text-align: center;
            vertical-align: middle;
            line-height: 60px;
            height: 100%;
            border: 1px solid $mule-aqua;
            color: $mule-aqua;
            font-size: 40px;
            font-family: $melbourne_light_font;
            letter-spacing:5px
          }
        }
        .keyword {
          float: left;
          height: 100%;
          width: 260px;
          overflow: auto;
          margin-left: 50px;
        }
      }
    }

    .header {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: #F5F7FA;
      z-index: 200;

      a {
        color: #434A54;
        width: 25%;
        float: left;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 1px solid black;
        box-sizing: border-box;
        color: #F5F7FA;
        background: #434A54;
      }
    }

    .sideBar {
      width: 25%;
      height: calc(unquote('100% - 70px'));
      height: calc(unquote('100% - 70px'));
      position: absolute;
      top: calc(unquote('100% + 70px'));
      top: -webkit-calc(unquote('100% + 70px'));
      left: 0;
      color: #434A54;

      ul {
        padding-top: 100px;

        li {
          padding: 20px;
          list-style-type: none;
        }
      }
    }

    .firstArticle {
      width: 60%;
      text-align: justify;
      position: absolute;
      top: 120%;
      left: 25%;
      margin: 0 auto;
      padding: 40px 20px 20px 20px;
      color: #434A54;
      z-index: 2;

      h2 {
        font-size: 30px;
        padding: 25px 15px;
        color: #434A54;
      }

      p {
        color: #434A54;
        font-size: 14px;
        line-height: 1.8;
        padding: 5px 15px;
      }
    }
  }
}
