@font-face{
    font-family: 'BebasNeueFont';
    src: font-url("BebasNeue.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'MelbourneLightFont';
    src: font-url("Melbourne_light.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Dense';
    src: font-url("Dense-Regular.otf") unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;
}